body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 6px 14px rgba(89, 102, 122, 0.08);
}

#logo {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'ZCOOL XiaoWei', serif;
}

#logo span:first-child {
  color: #fe4066;
}

#logo span:nth-child(2) {
  color: #fe4066;
  margin-left: -5px;
}

#logo span:nth-child(3) {
  color: #fe4066;
  margin-left: -5px;
}

#logo span:last-child {
  color: #1187e4;;
  font-weight: 700;
}

#search {
  margin-left: 4rem;
  margin-right: 3rem;
}

#search input {
  font-size: 1.1rem;
  width: 37%;
  vertical-align: super;
  background: url(./lens.svg) no-repeat 12px center;
  background-size: 18px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d1e1e8;
  height: 45px;
  padding: 0 0 0 40px;
  color: var(--theme-color-desaturated-blue);
  font-weight: 300;
}

#search button {
  font-size: 1.1rem;
  padding: 3px 12px;
  margin-left: 10px;
  height: 45px;
  background-color: #fe4066;
  color: #fff;
  border: 1px solid #fe4066;
  border-radius: .25rem;
  vertical-align: super;
}

#menu-info {
  display: flex;
  margin: 2rem .5rem;
}

#side-bar {
  flex: 0 0 20%;
  list-style-type: none;
  line-height: 3;
}

#side-bar li:hover {
  cursor: pointer;
  color: #fe4066;
}

.orange-font {
  color: #fe4066;
}

#side-bar i {
  margin-right: .5rem;
}

.menu-list img {
  width: 100%;
}

.menu-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: .5rem;
}

.menu-list>div {
  flex: 0 0 22%;
  margin-right: 3%;
}

.menu-list figure {
  margin: 0 0 1rem;
  border: solid 0px #f5f5f5;
  box-shadow: 0px 10px 14px rgba(24, 27, 31, 0.11);
  border-radius: 8px;
  overflow: hidden;
}

.menu-list figure:hover img {
  opacity: 0.8;
  transition: .4s ease;
  cursor: pointer;
}

.menu-list figure:hover figcaption {
  color: #fe4066;
  transition: .5s ease;
}

.menu-list figcaption {
  height: 3rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  padding-top: 10px;
}

.recommend {
  font-size: .7rem;
  border: 1px solid #ddd;
  background-color: #1187e4;
  color: #fff;
  margin-left: 1rem;
}

.method,
.ref {
  margin-top: 1rem;
}

.recipe span {
  margin-right: .5rem;
}

@media screen and (max-width: 720px) {
  header {
    padding: .5rem;
  }

  #search {
    display: block;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  #search input {
    width: 61%;
  }

  #search button {
    padding: 3px 5px;
  }

  #menu-info {
    display: block;
  }

  #side-bar {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    font-size: .9rem;
  }

  #side-bar li {
    background-color: #e6e2e2;
    border-radius: .25rem;
    margin: .5rem .25rem;
    padding: 0 .7rem 0 .25rem;
  }

  .menu-list {
    font-size: .9rem;
    margin-right: .5rem;
  }
  
  .menu-list>div {
    flex: 0 0 47%;
    margin-right: 6%;
  }

  .menu-list>div:nth-child(2n+2) {
    margin-right: 0;
  }

}

@media screen and (min-width: 721px) {
  #side-bar {
    max-width: 200px;
  }
}























