<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="mealChoice.js"></script>
    
    <link rel="stylesheet" href="./index.css">
    <script type="text/x-template" id="item-template">
      <div>
        <figure @click="$emit('show-modal', item)">
          <img :src="item.src" alt="item.name">
          <figcaption>{{item.name}}</figcaption>
        </figure>
      </div>
    </script>
  </head>

  <body>
    <div id="menu">
      <header>
        <span id="logo">
          <span>胖</span>
          <span>三</span>
          <span>斤</span>
          <span>De</span>
          <span>厨房</span>
        </span>
        <span id="search">
          <input type="text" placeholder="菜名/食材" v-model="search">
          <button type="button" @click="handleSearch">搜索</button>
          <button type="button" @click="handleClear">清空</button>
        </span>
      </header>
      <div id="menu-info">
        <ul id="side-bar">
          <li
            v-for="ctgr of categories"
            :key="ctgr.id"
            :class="selectCategoryId === ctgr.id ? 'orange-font' : ''"
            @click="sideBarSelect(ctgr.id)">
            <i :class="ctgr.icon">{{ctgr.icon}}</i>
            {{ctgr.type}}
          </li>
        </ul>
        <div class="main">
          <div class="menu-list">
            <dish-list
              v-for="dish of filterDishes"
              :key="dish.id"
              :item="dish"
              @show-modal="showModal"
            ></dish-list>
          </div>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div v-if="current_item" class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title dish-title" id="exampleModalLabel">
                  {{current_item.name}}
                  <button type="button" class="recommend" v-if="current_item.recommend">主厨推荐</button>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6>食材</h6>
                <div class="recipe">
                  <span v-for="rcp of current_item.recipe">{{rcp}}</span>
                </div>
                <h6 class="method">做法</h6>
                <ol>
                  <li v-for="way of current_item.methods">{{way}}</li>
                </ol>
                <h6 class="ref">参考链接</h6>
                <a v-for="ref of current_item.link" :href="ref.content" class="ref-link" target="_blank">{{ref.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    <script>
      Vue.component('dish-list', {
        template: '#item-template',
        props: {
          item: Object
        }
      });

      let menu = new Vue({
        el: '#menu',
        data: {
          search: '',
          selectCategoryId: null,
          categories: [
            {type: '厨师推荐', icon: '👨‍🍳', id: 0},
            {type: '前菜', icon: '🥗', id: 1},
            {type: '猪肉', icon: '🐷', id: 2},
            {type: '羊肉', icon: '🐏', id: 3},
            {type: '牛肉', icon: '🐂', id: 4},
            {type: '海鲜', icon: '🦐', id: 5},
            {type: '鸡肉', icon: '🐔', id: 6},
            {type: '素菜', icon: '🥬', id: 7},
            {type: '主食', icon: '🍚', id: 8},
            {type: '甜品', icon: '🍰', id: 9}
          ],
          current_item: {},
          filterDishes: [],
          dishes: mealData.meals
        },
        watch: {
          search: function(newS, oldS) {
            if (!newS) this.handleClear();
          }
        },
        created: function() {
          this.filterDishes = this.dishes;
        },
        methods: {
          showModal: function(item) {
            this.current_item = item;
            $('#exampleModal').modal('show');
          },
          sideBarSelect: function(catgoryId) {
            // console.log(catgoryId);

            if (catgoryId === this.selectCategoryId) {
              if (!this.search) this.filterDishes = this.dishes;
              else this.handleSearch();
              this.selectCategoryId = null;
              return;
            }

            const tmp_dishes = [];

            if (catgoryId === 0) {
              for (let dish of this.filterDishes) {
                if (dish.recommend) tmp_dishes.push(dish);
              }
            } else {
              for (let dish of this.filterDishes) {
                if (dish.type.indexOf(catgoryId) !== -1) tmp_dishes.push(dish);
              }
            }

            this.filterDishes = tmp_dishes;
            this.selectCategoryId = catgoryId;
          },

          handleSearch: function() {
            const tmp_dishes = [];
            for (let dish of this.dishes) {
              if (dish.name.indexOf(this.search) !== -1) tmp_dishes.push(dish);
              else {
                for (let rec of dish.recipe) {
                  if (rec.indexOf(this.search) !== -1) tmp_dishes.push(dish);
                }
              }
            }

            this.filterDishes = tmp_dishes;
            this.selectCategoryId = null;
          },

          handleClear: function() {
            this.filterDishes = this.dishes;
            this.search = '';
            this.selectCategoryId = null;
          }
        }
      });
    </script>
  </body>
</html>




























